<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SER</title>
</head>

<body>
    <div id="speechContainer">
        <h1>Upload New File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <br>
            <input type="submit" value="Predict" />
        </form>
        <div id="speechEmotionContainer">
            <h1>Prediction : {{predicted_emotion}}</h1>
        </div>
    </div>
</body>

</html>